<h2>
    <a href="/">Home Page</a> | <a href="/services">Services</a> | <a href="/services/design">Design</a>
    <br>
    <a href="/admin">Admin sin acceso</a> | <a href="/admin?user=Ada">Admin con acceso</a>
</h2>
<img src="/images/node.jpg" width="60%">